// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

@include establish-baseline;
@include border-box-sizing;

body {
  color: $dark-grey;
  background-color: $paper-white;
  @include baseline-grid-background($base-line-height,rgba(0,172,236,0.1));
}
