$dark-grey:     #333;
$light-grey:    #CCC;
$paper-white:   #FBF7F3;
$brand:         #002145;
$accent:        #ff1305;


$default-text-shadow-color: white;
$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: 1px

