nav {
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    a {
      @include trailing-border(0, 0, 1em, solid);
      &:hover {
        @include trailing-border(1px, 0, 1em, solid)
      }
    }
    @include at-breakpoint($mama-bear) {
      li {
        display: inline-block;
        }
      }
    }
}   